<% if AUTH_PROVIDERS.any? %>
  <% if AUTH_PROVIDERS.include?('test') %>
    <a href="/auth/test" class="block text-center btn-outlined">
      Test Auth
    </a>
  <% end %>
  <% if AUTH_PROVIDERS.include?('password') and AUTH_PROVIDERS.count > 1 %>
    <div class="text-center py-4">
      <%= t '.or' %>
    </div>
  <% end %>
<% end %>
