<div class="card">
  <div class="card-header">
    <h3 class="card-title">Reset your password</h3>
  </div>
  <div class="card-body">
    <p>Check your email for a link to reset your password.</p>
    <a href="/session/new" class="button button-contained button-primary">Sign in</a>
  </div>
</div>
