<div class="session-container">
  <div class="card">
    <div class="card-header">
      <div class="toolbar">
        <div class="toolbar-title">
          <%= t('.password_reset') %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
