<div class="appbar appbar-primary appbar-fixed">
  <div class="toolbar">
    <div class="toolbar-action">
      <a href="/" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title"><%= t '.password_reset' %></div>
  </div>
</div>

<main class="main with-appbar">
  <div class="container">
    <div class="session">
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</main>
