# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*

/node_modules
/yarn-error.log
/vendor/bundle

/public/packs
/public/packs-test
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

/.env.production
/.env.local
/.env.*.local

/.docker-sync
/.git

/public/uploads
