<div id="comment-<%= comment.id %>" class="list-item">
  <div class="list-item-avatar">
    <div class="letter-avatar">
      <%= comment.user.name[0] %>
    </div>
  </div>
  <div class="list-item-content">
    <div class="list-item-content-primary">
      <%= comment.content %>
    </div>
    <a href="<%= edit_comment_path(comment) %>">edit</a>
  </div>
</div>
