<div class="appbar appbar-primary appbar-fixed">
  <div class="toolbar">
    <div class="toolbar-action">
      <a href="<%= topic_path(@comment.topic, anchor: "comment-#{@comment.id}") %>" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title"><%= t '.edit_comment' %></div>
  </div>
</div>

<main class="main with-appbar">
  <div class="container">
    <div class="p-4">
      <%= render 'form' %>
    </div>
  </div>
</main>
