<div class="toolbar toolbar-fixed toolbar-primary">
  <div class="toolbar-action">
    <a href="<%= topic_path(@comment.topic, anchor: "comment-#{@comment.id}") %>" class="button button-icon"><i class="material-icons">arrow_back</i></a>
  </div>
  <div class="toolbar-title">Edit Comment</div>
</div>

<main class="main">
  <div class="container">
    <%= render 'form' %>
  </div>
</main>
