<div class="card">
  <div class="card-header border-bottom">
    <div class="toolbar">
      <div class="toolbar-title">
        Search Result
      </div>
    </div>
  </div>
  <div class="list">
    <%= render partial: 'post', collection: @posts, cached: -> post { [I18n.locale, post, post.user] } %>
  </div>
  <div class="card-footer border-top">
    <%= render_paginator @posts %>
  </div>
</div>
