<div data-controller="infinite-page" data-infinite-page-page="<%= @topics.current_page %>" data-infinite-page-reached-end="<%= @topics.last_page? || @topics.out_of_range? %>">
  <div class="list list-bordered" data-target="infinite-page.container">
    <%= render partial: 'topics/topic', collection: @topics, cached: -> topic { [I18n.locale, topic, topic.user] } %>
  </div>
  <div class="infinite-page-loading-placeholder p-2 text-secondary text-align-center border-top">
    <i class="material-icons animated spin">sync</i>
  </div>
</div>
