<div class="appbar appbar-primary appbar-fixed">
  <div class="toolbar">
    <div class="toolbar-action">
      <a href="<%= topic_path(@topic) %>" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title">Edit Topic</div>
  </div>
</div>

<main class="main with-appbar">
  <div class="container">
    <%= render 'form' %>
  </div>
</main>
