<div class="drawer drawer-permanent">
  <div class="drawer-content">
    <div class="brand">
      <img src="<%= asset_pack_path 'media/images/logo.png' %>">
      <span>Campo</span>
    </div>
    <div class="drawer-menu">
      <a href="" class="drawer-item active">
        <div class="drawer-item-icon">
          <i class="material-icons">home</i>
        </div>
        Home
      </a>
      <a href="" class="drawer-item">
        <div class="drawer-item-icon">
          <i class="material-icons">star</i>
        </div>
        Starred
      </a>
    </div>
    <div class="divider">
    </div>
    <div class="subtitle">
      Forums
    </div>
    <div class="drawer-menu">
      <% Category.all.each do |category| %>
        <a href="" class="drawer-item">
          <div class="drawer-item-icon">
            <i class="material-icons">label</i>
          </div>
          <%= category.name %>
        </a>
      <% end %>
    </div>
  </div>
</div>

<main class="main">
  <div class="appbar appbar-primary appbar-fixed">
    <div class="toolbar">
      <div class="toolbar-title">
        Home
      </div>
    </div>
  </div>
</main>
