<div class="card">
  <%= render 'profile/header' %>
  <%= render 'topics/topic_list' %>

  <% if @topics.empty? %>
    <div class="text-align-center p-4">
      No content.
    </div>
  <% end %>
</div>
