<div class="card">
  <div class="card-header">
    <div class="toolbar">
      <div class="toolbar-action">
        <a href="<%= admin_topics_path %>" class="button button-icon">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="toolbar-title">
        <%= t '.new_topic' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
