<div class="session">
  <div class="card">
      <div class="card-header">
        <h3 class="card-title">Join us now!</h3>
      </div>
      <div class="card-body">
      <form class="form" action="/users" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" value="">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" value="">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" value="">
        </div>
        <button type="submit" class="button button-raised button-primary">Sign up</button>
      </form>
    </div>
  </div>
</div>
