html {
}

body {
  color: var(--text-primary-color);
  box-sizing: border-box;
  line-height: 1.5;
}

.main {
  padding: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-small {
  max-width: 540px;
}

.container-micro {
  max-width: 480px;
}

.divider {
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.row {
  margin-bottom: 16px;
  display: flex;
}

.col {
  margin: 0 8px;
  flex-grow: 1;
  flex-shrink: 0;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    margin: 0 8px;
    flex-grow: #{$i};
    flex-shrink: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.float-right {
  float: right;
}

.text-muted {
  color: var(--text-secondary-color);
}

a.text-muted {
  color: var(--text-secondary-color);
}

.letter-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toolbar-action .letter-avatar {
  width: 36px;
  height: 36px;
}

.subheader {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 16px;;
  color: var(--text-secondary-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}

.break {
  position: relative;
  z-index: 0;
  text-align: center;
  margin: 8px 0;

  &::before {
    content: ' ';
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.break-content {
  background: white;
  padding: 8px;
  display: inline-block;
  font-size: 14px;
  color: var(--text-secondary-color);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-2x {
  width: 80px;
  height: 80px;
}

.avatar-4x {
  width: 160px;
  height: 160px;
}
