html {
}

body {
  box-sizing: border-box;
}

.main {
  margin-top: 56px;
  padding: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-small {
  max-width: 540px;
}

.divider {
  margin: 8px 0;
}

.row {
  margin-bottom: 16px;
  display: flex;
}

.col {
  margin: 0 8px;
  flex-grow: 1;
  flex-shrink: 0;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    margin: 0 8px;
    flex-grow: #{$i};
    flex-shrink: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.float-right {
  float: right;
}

.text-muted {
  color: var(--text-secondary-color);
}

a.text-muted {
  color: var(--text-secondary-color);
}

.letter-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.subheader {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 16px;;
  color: var(--text-secondary-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}
