html {
}

body {
  box-sizing: border-box;
}

.main {
  margin-top: 56px;
  padding: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.divider {
  margin: 8px 0;
}

.row {
  margin-bottom: 16px;
}

.float-right {
  float: right;
}

.text-muted {
  color: var(--text-secondary-color);
}

a.text-muted {
  color: var(--text-secondary-color);
}
