.side-nav {
  display: none;
}

.side-nav.open {
  display: block;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 240px;
  background: #fafafa;
  overflow: auto;
}

.side-nav.open + main {
  margin-left: 240px;
}
