.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-action {
  flex: 0 0 48px;

  &:first-child {
    flex: 0 0 56px;
  }
}

.toolbar-title {
  flex: 1;
}

.toolbar-title {
  padding: 12px;
  line-height: 24px;
  flex-grow: 1;
}
