.float-right {
  float: right;
}

.text-secondary {
  color: var(--text-secondary-color);
}

a.text-secondary {
  color: var(--text-secondary-color);
  text-decoration: none;
}

.text-small {
  font-size: 14px;
}
