:root {
  --primary-color: #673AB7;
  --background-color: white;
  --text-primary-color: rgba(0, 0, 0, 0.87);
  --text-secondary-color: rgba(0, 0, 0, 0.7);
  --text-primary-on-primary-color: white;
  --text-secondary-on-primary-color: rgba(255, 255, 255, 0.7);
  --border-color: rgba(0, 0, 0, 0.12);
}
