<div class="card mt-4">
  <div class="card-header border-bottom">
    <div class="toolbar">
      <div class="toolbar-title">
        Topics
      </div>
      <div class="toolbar-space">
      </div>
      <div class="toolbar-action">
        <a href="<%= new_topic_path %>" class="button button-contained button-primary">New Topic</a>
      </div>
    </div>
  </div>
  <%= render 'topics/topic_list' %>
</div>
