<div class="d-flex mt-3 mb-2">
  <div class="btn-group mr-1">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
      All
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Feed</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Ruby</a>
      <a class="dropdown-item" href="#">Javascript</a>
    </div>
  </div>

  <div class="btn-group">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
      Latest
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Top</a>
      <a class="dropdown-item" href="#">Oldest</a>
    </div>
  </div>

  <a href="<%= new_topic_path %>" class="btn btn-primary ml-auto">New Topic</a>
</div>


<div id="topics" class="mb-4" data-controller="infinite-page" data-infinite-page-page="<%= @topics.current_page %>">
  <div class="topic-list">
    <%= render partial: 'topics/topic', collection: @topics, cached: -> topic { [I18n.locale, topic, topic.user] } %>
  </div>
  <div class="p-4 text-muted text-center" data-target="infinite-page.placeholder">
    <i class="fas fa-circle-notch fa-spin fa-lg"></i>
  </div>
</div>
