<h3 id="buttons">Buttons</h3>
<h4 id="raised-buttons">Contained buttons</h4>
<p>
  <button type="button" class="button button-contained">Default</button>
  <button type="button" class="button button-contained button-primary">Primary</button>
  <button type="button" class="button button-contained button-secondary">Secondary</button>
  <button type="button" class="button button-contained" disabled>Disabled</button>
</p>
<h4 id="raised-buttons">Buttons with icon</h4>
<p>
  <button type="button" class="button button-contained">
    <i class="material-icons">add</i>
    Default
  </button>
  <button type="button" class="button button-contained button-primary">
    <i class="material-icons">add</i>
    Default
  </button>
  <button type="button" class="button button-text">
    <i class="material-icons">add</i>
    Default
  </button>
  <button type="button" class="button button-outlined">
    <i class="material-icons">add</i>
    Default
  </button>
</p>
<h4 id="raised-buttons-link">Contained buttons (Link)</h4>
<p>
  <a class="button button-contained">Default</a>
  <a class="button button-contained button-primary">Primary</a>
  <a class="button button-contained button-secondary">Secondary</a>
  <a class="button button-contained disabled">Disabled</a>
</p>
<h4 id="flat-buttons">Text buttons</h4>
<p>
  <button type="button" class="button button-text">Default</button>
  <button type="button" class="button button-text button-primary">Primary</button>
  <button type="button" class="button button-text button-secondary">Secondary</button>
  <button type="button" class="button button-text" disabled>Disabled</button>
</p>
<h4 id="flat-buttons-link">Text buttons (Link)</h4>
<p>
  <a class="button button-text">Default</a>
  <a class="button button-text button-primary">Primary</a>
  <a class="button button-text button-secondary">Secondary</a>
  <a class="button button-text" disabled>Disabled</a>
</p>
<h4 id="flat-buttons">Outlined buttons</h4>
<p>
  <button type="button" class="button button-outlined">Default</button>
  <button type="button" class="button button-outlined button-primary">Primary</button>
  <button type="button" class="button button-outlined button-secondary">Secondary</button>
  <button type="button" class="button button-outlined" disabled>Disabled</button>
</p>
<h4 id="flat-buttons-link">Outlined buttons (Link)</h4>
<p>
  <a class="button button-outlined">Default</a>
  <a class="button button-outlined button-primary">Primary</a>
  <a class="button button-outlined button-secondary">Secondary</a>
  <a class="button button-outlined" disabled>Disabled</a>
</p>
<h4 id="flat-buttons-link">Toggle buttons</h4>
<p>
  <div class="button-group">
    <button type="button" class="button button-toggle">
      <i class="material-icons">format_bold</i>
    </button>
    <button type="button" class="button button-toggle">
      <i class="material-icons">format_italic</i>
    </button>
    <button type="button" class="button button-toggle">
      <i class="material-icons">format_underline</i>
    </button>
  </div>
</p>
<h4 id="floating-buttons">Floating buttons</h4>
<p>
  <button type="button" class="button button-floating"><i class="material-icons">add</i></button>
  <button type="button" class="button button-floating button-primary"><i class="material-icons">add</i></button>
  <button type="button" class="button button-floating button-secondary"><i class="material-icons">add</i></button>
  <button type="button" class="button button-floating" disabled><i class="material-icons">add</i></button>
</p>
<h4 id="floating-buttons-link">Floating buttons (Link)</h4>
<p>
  <a class="button button-floating"><i class="material-icons">add</i></a>
  <a class="button button-floating button-primary"><i class="material-icons">add</i></a>
  <a class="button button-floating button-secondary"><i class="material-icons">add</i></a>
  <a class="button button-floating" disabled><i class="material-icons">add</i></a>
</p>
<h4 id="floating-buttons-link">Floating buttons (Extended)</h4>
<p>
  <a class="button button-floating extended"><i class="material-icons mr-2">add</i> Add</a>
  <a class="button button-floating extended button-primary"><i class="material-icons mr-2">add</i> Add</a>
  <a class="button button-floating extended button-secondary"><i class="material-icons mr-2">add</i> Add</a>
  <a class="button button-floating extended" disabled><i class="material-icons mr-2">add</i> Add</a>
</p>
<h4 id="icon-buttons">Icon buttons</h4>
<p>
  <button type="button" class="button button-icon"><i class="material-icons">add</i></button>
  <button type="button" class="button button-icon button-primary"><i class="material-icons">add</i></button>
  <button type="button" class="button button-icon button-secondary"><i class="material-icons">add</i></button>
  <button type="button" class="button button-icon" disabled><i class="material-icons">add</i></button>
</p>
<h4 id="icon-buttons-link">Floating buttons (Link)</h4>
<p>
  <a class="button button-icon"><i class="material-icons">add</i></a>
  <a class="button button-icon button-primary"><i class="material-icons">add</i></a>
  <a class="button button-icon button-secondary"><i class="material-icons">add</i></a>
  <a class="button button-icon" disabled><i class="material-icons">add</i></a>
</p>
