<div class="container">
  <% 100.times do %>
    <p>text</p>
  <% end %>
</div>

<div class="composer open fadeIn" data-controller="composer">
  <div class="container">
    <div class="composer-content">
      <div class="composer-header">
        <h5 class="composer-title">Title</h5>
        <div class="composer-header-actions">
          <button type="button" class="btn composer-expand-button" data-action="composer#expand">
            <i class="fa fa-expand"></i>
          </button>
          <button type="button" class="btn composer-compress-button" data-action="composer#compress">
            <i class="fa fa-compress"></i>
          </button>
          <button type="button" class="btn" data-action="composer#close">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="composer-body">
        <textarea name="name" rows="8" class="form-control h-100"></textarea>
      </div>
      <div class="composer-footer">
        <button type="button" class="btn btn-primary ml-auto">
          Button
        </button>
      </div>
    </div>
  </div>
</div>
