<h3 id="dropdowns">Dropdowns</h3>
<div class="dropdown" data-controller="dropdown">
  <button type="button" class="button button-contained" data-action="dropdown#open">Dropdown button</button>
  <div class="dropdown-menu">
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
  </div>
</div>
<div class="dropdown" data-controller="dropdown">
  <button type="button" class="button button-contained" data-action="dropdown#open">Menu align right</button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
  </div>
</div>
<div class="dropdown" data-controller="dropdown">
  <button type="button" class="button button-contained" data-action="dropdown#open">Menu align top</button>
  <div class="dropdown-menu dropdown-menu-top">
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
  </div>
</div>
<div class="dropdown" data-controller="dropdown">
  <button type="button" class="button button-contained" data-action="dropdown#open">Menu align top right</button>
  <div class="dropdown-menu dropdown-menu-top dropdown-menu-right">
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
    <a class="dropdown-menu-item" href="#">Dropdown item</a>
  </div>
</div>
