text

<div class="floating-action" data-controller="floating-action">
  <button type="button" class="button button-floating" data-action="floating-action#open">
    <i class="material-icons">add</i>
  </button>
  <div class="floating-action-menu">
    <a href="#" class="floating-action-item">
      <i class="material-icons">add</i> Item
    </a>
    <a href="#" class="floating-action-item">
      <i class="material-icons">add</i> Item
    </a>
    <a href="#" class="floating-action-item">
      <i class="material-icons">add</i> Item
    </a>
  </div>
  <div class="floating-action-backdrop" data-action="click->floating-action#close">
  </div>
</div>
