<h3 id="forms">Forms</h3>
<form class="form" action="#forms">
  <div class="form-field">
    <label>Textfield</label>
    <input type="text">
  </div>
  <div class="form-row">
    <div class="form-field">
      <label>Column</label>
      <input type="text">
    </div>
    <div class="form-field">
      <label>Column</label>
      <input type="text">
    </div>
  </div>
  <div class="form-field">
    <label>Textarea</label>
    <textarea rows="5"></textarea>
  </div>
  <div class="form-field">
    <label>Select</label>
    <select>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
  </div>
  <div class="form-field">
    <label>Checkbox</label>
    <label>
      <input type="checkbox">Checkbox 1
    </label>
    <label>
      <input type="checkbox">Checkbox 2
    </label>
    <label>
      <input type="checkbox">Checkbox 3
    </label>
  </div>
  <div class="form-field">
    <label>Radio</label>
    <label>
      <input type="radio" name="radio">Radio 1
    </label>
    <label>
      <input type="radio" name="radio">Radio 2
    </label>
    <label>
      <input type="radio" name="radio">Radio 3
    </label>
  </div>
  <button type="submit" class="button button-contained button-primary">Submit</button>
</form>
<h4 id="form-validation">Form validation</h4>
<form class="form">
  <div class="form-field">
    <label>Textfield</label>
    <input type="text">
    <div class="form-helper">
      Help text.
    </div>
  </div>
  <div class="form-field invalid">
    <label>Textfield</label>
    <input type="text">
    <div class="validate-message">
      Looks not good!
    </div>
  </div>
</form>
