<style media="screen">
  .demo {
    padding: 24px;
    background: #f5f5f5;
  }

  .demo-row {
    display: flex;
  }

  .demo-column {
    flex-grow: 1;
    margin: 0 8px;
  }

  .demo-column:first-child {
    margin-left: 0;
  }

  .demo-column:last-child {
    margin-right: 0;
  }
</style>

<div class="toolbar toolbar-fixed toolbar-white">
  <div class="toolbar-title">
    Campo UI
  </div>
</div>

<nav class="side-nav">
  <div class="list">
    <a href="#buttons" class="list-item">Buttons</a>
    <a href="#forms" class="list-item">Forms</a>
    <a href="#dropdowns" class="list-item">Dropdowns</a>
    <a href="#toolbars" class="list-item">Toolbars</a>
    <a href="#cards" class="list-item">Cards</a>
  </div>
</nav>

<main>
  <div class="container">
    <section>
      <h3 id="buttons">Buttons</h3>
      <h4 id="raised-buttons">Raised buttons</h4>
      <p>
        <button type="button" class="button button-raised">Default</button>
        <button type="button" class="button button-raised button-primary">Primary</button>
        <button type="button" class="button button-raised button-secondary">Secondary</button>
        <button type="button" class="button button-raised" disabled>Disabled</button>
      </p>
      <h4 id="raised-buttons-link">Raised buttons (Link)</h4>
      <p>
        <a class="button button-raised">Default</a>
        <a class="button button-raised button-primary">Primary</a>
        <a class="button button-raised button-secondary">Secondary</a>
        <a class="button button-raised" disabled>Disabled</a>
      </p>
      <h4 id="flat-buttons">Flat buttons</h4>
      <p>
        <button type="button" class="button button-flat">Default</button>
        <button type="button" class="button button-flat button-primary">Primary</button>
        <button type="button" class="button button-flat button-secondary">Secondary</button>
        <button type="button" class="button button-flat" disabled>Disabled</button>
      </p>
      <h4 id="flat-buttons-link">Flat buttons (Link)</h4>
      <p>
        <a class="button button-flat">Default</a>
        <a class="button button-flat button-primary">Primary</a>
        <a class="button button-flat button-secondary">Secondary</a>
        <a class="button button-flat" disabled>Disabled</a>
      </p>
      <h4 id="floating-buttons">Floating buttons</h4>
      <p>
        <button type="button" class="button button-floating"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating button-primary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating button-secondary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating" disabled><i class="material-icons">add</i></button>
      </p>
      <h4 id="floating-buttons-link">Floating buttons (Link)</h4>
      <p>
        <a class="button button-floating"><i class="material-icons">add</i></a>
        <a class="button button-floating button-primary"><i class="material-icons">add</i></a>
        <a class="button button-floating button-secondary"><i class="material-icons">add</i></a>
        <a class="button button-floating" disabled><i class="material-icons">add</i></a>
      </p>
      <h4 id="icon-buttons">Icon buttons</h4>
      <p>
        <button type="button" class="button button-icon"><i class="material-icons">add</i></button>
        <button type="button" class="button button-icon button-primary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-icon button-secondary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-icon" disabled><i class="material-icons">add</i></button>
      </p>
      <h4 id="icon-buttons-link">Floating buttons (Link)</h4>
      <p>
        <a class="button button-icon"><i class="material-icons">add</i></a>
        <a class="button button-icon button-primary"><i class="material-icons">add</i></a>
        <a class="button button-icon button-secondary"><i class="material-icons">add</i></a>
        <a class="button button-icon" disabled><i class="material-icons">add</i></a>
      </p>
    </section>
    <section>
      <h3 id="forms">Forms</h3>
      <form class="form" action="#forms">
        <div class="form-group">
          <label>Textfield</label>
          <input type="text">
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Column</label>
            <input type="text">
          </div>
          <div class="form-group">
            <label>Column</label>
            <input type="text">
          </div>
        </div>
        <div class="form-group">
          <label>Textarea</label>
          <textarea rows="5"></textarea>
        </div>
        <div class="form-group">
          <label>Select</label>
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="form-group">
          <label>Checkbox</label>
          <label>
            <input type="checkbox">Checkbox 1
          </label>
          <label>
            <input type="checkbox">Checkbox 2
          </label>
          <label>
            <input type="checkbox">Checkbox 3
          </label>
        </div>
        <div class="form-group">
          <label>Radio</label>
          <label>
            <input type="radio" name="radio">Radio 1
          </label>
          <label>
            <input type="radio" name="radio">Radio 2
          </label>
          <label>
            <input type="radio" name="radio">Radio 3
          </label>
        </div>
        <button type="submit" class="button button-raised button-primary">Submit</button>
      </form>
    </section>
    <section>
      <h3 id="dropdowns">Dropdowns</h3>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Dropdown button</button>
        <div class="dropdown-menu" data-target="dropdown.menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align right</button>
        <div class="dropdown-menu dropdown-menu-right" data-target="dropdown.menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align top</button>
        <div class="dropdown-menu dropdown-menu-top" data-target="dropdown.menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align top right</button>
        <div class="dropdown-menu dropdown-menu-top dropdown-menu-right" data-target="dropdown.menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
    </section>
    <section>
      <h3 id="toolbars">Toolbars</h3>
      <div class="toolbar">
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">menu</i></button>
        </div>
        <div class="toolbar-title">
          Title
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">search</i></button>
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">notifications</i></button>
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">more_vert</i></button>
        </div>
      </div>
      <br>
      <div class="toolbar toolbar-primary">
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">menu</i></button>
        </div>
        <div class="toolbar-title">
          Title
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">search</i></button>
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">notifications</i></button>
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">more_vert</i></button>
        </div>
      </div>
      <br>
      <div class="toolbar toolbar-secondary">
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">menu</i></button>
        </div>
        <div class="toolbar-title">
          Title
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">search</i></button>
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">notifications</i></button>
        </div>
        <div class="toolbar-action">
          <button type="button" class="button button-icon"><i class="material-icons">more_vert</i></button>
        </div>
      </div>
    </section>
    <section>
      <h3 id="cards">Cards</h3>
      <div class="demo">
        <div class="demo-row">
          <% 3.times do %>
            <div class="card demo-column">
              <div class="card-header">
                <h3 class="card-title">Card header</h3>
                <button type="button" class="button button-icon"><i class="material-icons">more_vert</i></button>
              </div>
              <div class="card-body">
                Content text
              </div>
              <div class="card-footer">
                <button type="button" class="button button-flat button-primary">Action 1</button>
                <button type="button" class="button button-flat button-primary">Action 2</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</main>
