<div class="toolbar">
  <div class="toolbar-title">
    Campo UI
  </div>
</div>

<nav class="side-nav">
  <div class="list">
    <a href="#buttons" class="list-item">Buttons</a>
    <a href="#forms" class="list-item">Forms</a>
    <a href="#dropdowns" class="list-item">Dropdowns</a>
  </div>
</nav>

<main>
  <div class="container">
    <section>
      <h3 id="buttons">Buttons</h3>
      <h4 id="raised-buttons">Raised buttons</h4>
      <p>
        <button type="button" class="button button-raised">Default</button>
        <button type="button" class="button button-raised button-primary">Primary</button>
        <button type="button" class="button button-raised button-secondary">Secondary</button>
        <button type="button" class="button button-raised" disabled>Disabled</button>
      </p>
      <h4 id="raised-buttons-link">Raised buttons (Link)</h4>
      <p>
        <a class="button button-raised">Default</a>
        <a class="button button-raised button-primary">Primary</a>
        <a class="button button-raised button-secondary">Secondary</a>
        <a class="button button-raised" disabled>Disabled</a>
      </p>
      <h4 id="flat-buttons">Flat buttons</h4>
      <p>
        <button type="button" class="button button-flat">Default</button>
        <button type="button" class="button button-flat button-primary">Primary</button>
        <button type="button" class="button button-flat button-secondary">Secondary</button>
        <button type="button" class="button button-flat" disabled>Disabled</button>
      </p>
      <h4 id="flat-buttons-link">Flat buttons (Link)</h4>
      <p>
        <a class="button button-flat">Default</a>
        <a class="button button-flat button-primary">Primary</a>
        <a class="button button-flat button-secondary">Secondary</a>
        <a class="button button-flat" disabled>Disabled</a>
      </p>
      <h4 id="floating-buttons">Floating buttons</h4>
      <p>
        <button type="button" class="button button-floating"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating button-primary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating button-secondary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating" disabled><i class="material-icons">add</i></button>
      </p>
      <h4 id="floating-buttons-link">Floating buttons (Link)</h4>
      <p>
        <a class="button button-floating"><i class="material-icons">add</i></a>
        <a class="button button-floating button-primary"><i class="material-icons">add</i></a>
        <a class="button button-floating button-secondary"><i class="material-icons">add</i></a>
        <a class="button button-floating" disabled><i class="material-icons">add</i></a>
      </p>
    </section>
    <section>
      <h3 id="forms">Forms</h3>
      <form class="form" action="#forms">
        <div class="form-group">
          <label>Textfield</label>
          <input type="text">
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Column</label>
            <input type="text">
          </div>
          <div class="form-group">
            <label>Column</label>
            <input type="text">
          </div>
        </div>
        <div class="form-group">
          <label>Textarea</label>
          <textarea rows="5"></textarea>
        </div>
        <div class="form-group">
          <label>Select</label>
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="form-group">
          <label>Checkbox</label>
          <label>
            <input type="checkbox">Checkbox 1
          </label>
          <label>
            <input type="checkbox">Checkbox 2
          </label>
          <label>
            <input type="checkbox">Checkbox 3
          </label>
        </div>
        <div class="form-group">
          <label>Radio</label>
          <label>
            <input type="radio" name="radio">Radio 1
          </label>
          <label>
            <input type="radio" name="radio">Radio 2
          </label>
          <label>
            <input type="radio" name="radio">Radio 3
          </label>
        </div>
        <button type="submit" class="button button-raised button-primary">Submit</button>
      </form>
    </section>
    <section>
      <h3 id="dropdowns">Dropdowns</h3>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Dropdown button</button>
        <div class="dropdown-menu" data-target="dropdown.menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align right</button>
        <div class="dropdown-menu dropdown-menu-right" data-target="dropdown.menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align top</button>
        <div class="dropdown-menu dropdown-menu-top" data-target="dropdown.menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align top right</button>
        <div class="dropdown-menu dropdown-menu-top dropdown-menu-right" data-target="dropdown.menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
    </section>
  </div>
</main>
