<div class="toolbar">
  <div class="toolbar-title">
    Campo UI
  </div>
</div>

<nav class="side-nav">
  <div class="list">
    <a href="#buttons" class="list-item">Buttons</a>
  </div>
</nav>

<main>
  <div class="container">
    <section>
      <h3 id="buttons">Buttons</h3>
      <h4 id="raised-buttons">Raised buttons</h4>
      <p>
        <button type="button" class="button button-raised">Default</button>
        <button type="button" class="button button-raised button-primary">Primary</button>
        <button type="button" class="button button-raised button-secondary">Secondary</button>
        <button type="button" class="button button-raised" disabled>Disabled</button>
      </p>
      <h4 id="raised-buttons-link">Raised buttons (Link)</h4>
      <p>
        <a class="button button-raised">Default</a>
        <a class="button button-raised button-primary">Primary</a>
        <a class="button button-raised button-secondary">Secondary</a>
        <a class="button button-raised" disabled>Disabled</a>
      </p>
      <h4 id="flat-buttons">Flat buttons</h4>
      <p>
        <button type="button" class="button button-flat">Default</button>
        <button type="button" class="button button-flat button-primary">Primary</button>
        <button type="button" class="button button-flat button-secondary">Secondary</button>
        <button type="button" class="button button-flat" disabled>Disabled</button>
      </p>
      <h4 id="flat-buttons-link">Flat buttons (Link)</h4>
      <p>
        <a class="button button-flat">Default</a>
        <a class="button button-flat button-primary">Primary</a>
        <a class="button button-flat button-secondary">Secondary</a>
        <a class="button button-flat" disabled>Disabled</a>
      </p>
      <h4 id="floating-buttons">Floating buttons</h4>
      <p>
        <button type="button" class="button button-floating">B</button>
        <button type="button" class="button button-floating button-primary">B</button>
        <button type="button" class="button button-floating button-secondary">B</button>
        <button type="button" class="button button-floating" disabled>B</button>
      </p>
      <h4 id="floating-buttons-link">Floating buttons (Link)</h4>
      <p>
        <a class="button button-floating">B</a>
        <a class="button button-floating button-primary">B</a>
        <a class="button button-floating button-secondary">B</a>
        <a class="button button-floating" disabled>B</a>
      </p>
    </section>
  </div>
</main>
