<style media="screen">
  section {
    margin-bottom: 48px;
  }

  .demo {
    padding: 24px;
    background: #f5f5f5;
  }

  .demo-row {
    display: flex;
  }

  .demo-column {
    flex-grow: 1;
    margin: 0 8px;
  }

  .demo-column:first-child {
    margin-left: 0;
  }

  .demo-column:last-child {
    margin-right: 0;
  }

  .demo .dialog {
    width: 100%;
  }

  .demo .dialog-container {
    position: relative;
    z-index: 0;
  }

  .demo .dialog-background {
    position: absolute;
  }

  .list-item-avatar img {
    background: #ccc;
  }
</style>

<div class="toolbar toolbar-fixed toolbar-white">
  <div class="toolbar-title">
    Campo UI
  </div>
</div>

<nav class="side-nav">
  <div class="list">
    <% %w(buttons forms dropdowns toolbars cards dialogs lists).each do |name| %>
      <a href="#<%= name %>" class="list-item">
        <div class="list-item-content">
          <%= name.capitalize %>
        </div>
      </a>
    <% end %>
  </div>
</nav>

<main>
  <div class="container">
    <section>
      <h3 id="buttons">Buttons</h3>
      <h4 id="raised-buttons">Raised buttons</h4>
      <p>
        <button type="button" class="button button-raised">Default</button>
        <button type="button" class="button button-raised button-primary">Primary</button>
        <button type="button" class="button button-raised button-secondary">Secondary</button>
        <button type="button" class="button button-raised" disabled>Disabled</button>
      </p>
      <h4 id="raised-buttons-link">Raised buttons (Link)</h4>
      <p>
        <a class="button button-raised">Default</a>
        <a class="button button-raised button-primary">Primary</a>
        <a class="button button-raised button-secondary">Secondary</a>
        <a class="button button-raised" disabled>Disabled</a>
      </p>
      <h4 id="flat-buttons">Flat buttons</h4>
      <p>
        <button type="button" class="button button-flat">Default</button>
        <button type="button" class="button button-flat button-primary">Primary</button>
        <button type="button" class="button button-flat button-secondary">Secondary</button>
        <button type="button" class="button button-flat" disabled>Disabled</button>
      </p>
      <h4 id="flat-buttons-link">Flat buttons (Link)</h4>
      <p>
        <a class="button button-flat">Default</a>
        <a class="button button-flat button-primary">Primary</a>
        <a class="button button-flat button-secondary">Secondary</a>
        <a class="button button-flat" disabled>Disabled</a>
      </p>
      <h4 id="floating-buttons">Floating buttons</h4>
      <p>
        <button type="button" class="button button-floating"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating button-primary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating button-secondary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-floating" disabled><i class="material-icons">add</i></button>
      </p>
      <h4 id="floating-buttons-link">Floating buttons (Link)</h4>
      <p>
        <a class="button button-floating"><i class="material-icons">add</i></a>
        <a class="button button-floating button-primary"><i class="material-icons">add</i></a>
        <a class="button button-floating button-secondary"><i class="material-icons">add</i></a>
        <a class="button button-floating" disabled><i class="material-icons">add</i></a>
      </p>
      <h4 id="icon-buttons">Icon buttons</h4>
      <p>
        <button type="button" class="button button-icon"><i class="material-icons">add</i></button>
        <button type="button" class="button button-icon button-primary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-icon button-secondary"><i class="material-icons">add</i></button>
        <button type="button" class="button button-icon" disabled><i class="material-icons">add</i></button>
      </p>
      <h4 id="icon-buttons-link">Floating buttons (Link)</h4>
      <p>
        <a class="button button-icon"><i class="material-icons">add</i></a>
        <a class="button button-icon button-primary"><i class="material-icons">add</i></a>
        <a class="button button-icon button-secondary"><i class="material-icons">add</i></a>
        <a class="button button-icon" disabled><i class="material-icons">add</i></a>
      </p>
    </section>
    <section>
      <h3 id="forms">Forms</h3>
      <form class="form" action="#forms">
        <div class="form-group">
          <label>Textfield</label>
          <input type="text">
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Column</label>
            <input type="text">
          </div>
          <div class="form-group">
            <label>Column</label>
            <input type="text">
          </div>
        </div>
        <div class="form-group">
          <label>Textarea</label>
          <textarea rows="5"></textarea>
        </div>
        <div class="form-group">
          <label>Select</label>
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="form-group">
          <label>Checkbox</label>
          <label>
            <input type="checkbox">Checkbox 1
          </label>
          <label>
            <input type="checkbox">Checkbox 2
          </label>
          <label>
            <input type="checkbox">Checkbox 3
          </label>
        </div>
        <div class="form-group">
          <label>Radio</label>
          <label>
            <input type="radio" name="radio">Radio 1
          </label>
          <label>
            <input type="radio" name="radio">Radio 2
          </label>
          <label>
            <input type="radio" name="radio">Radio 3
          </label>
        </div>
        <button type="submit" class="button button-raised button-primary">Submit</button>
      </form>
    </section>
    <section>
      <h3 id="dropdowns">Dropdowns</h3>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Dropdown button</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align right</button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align top</button>
        <div class="dropdown-menu dropdown-menu-top">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button-raised" data-action="dropdown#open">Menu align top right</button>
        <div class="dropdown-menu dropdown-menu-top dropdown-menu-right">
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
          <a class="dropdown-item" href="#">Dropdown item</a>
        </div>
      </div>
    </section>
    <section>
      <h3 id="toolbars">Toolbars</h3>
      <div class="toolbar">
        <button type="button" class="button button-icon"><i class="material-icons">menu</i></button>
        <div class="toolbar-title">
          Title
        </div>
        <button type="button" class="button button-icon"><i class="material-icons">search</i></button>
        <button type="button" class="button button-icon"><i class="material-icons">notifications</i></button>
        <div class="dropdown" data-controller="dropdown">
          <button type="button" class="button button-icon" data-action="dropdown#open"><i class="material-icons">more_vert</i></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item">Item</a>
            <a href="#" class="dropdown-item">Item</a>
            <a href="#" class="dropdown-item">Item</a>
          </div>
        </div>
      </div>
      <br>
      <div class="toolbar toolbar-primary">
        <button type="button" class="button button-icon"><i class="material-icons">menu</i></button>
        <div class="toolbar-title">
          Title
        </div>
        <button type="button" class="button button-icon"><i class="material-icons">search</i></button>
        <button type="button" class="button button-icon"><i class="material-icons">notifications</i></button>
        <div class="dropdown" data-controller="dropdown">
          <button type="button" class="button button-icon" data-action="dropdown#open"><i class="material-icons">more_vert</i></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item">Item</a>
            <a href="#" class="dropdown-item">Item</a>
            <a href="#" class="dropdown-item">Item</a>
          </div>
        </div>
      </div>
      <br>
      <div class="toolbar toolbar-secondary">
        <button type="button" class="button button-icon"><i class="material-icons">menu</i></button>
        <div class="toolbar-title">
          Title
        </div>
        <button type="button" class="button button-icon"><i class="material-icons">search</i></button>
        <button type="button" class="button button-icon"><i class="material-icons">notifications</i></button>
        <div class="dropdown" data-controller="dropdown">
          <button type="button" class="button button-icon" data-action="dropdown#open"><i class="material-icons">more_vert</i></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item">Item</a>
            <a href="#" class="dropdown-item">Item</a>
            <a href="#" class="dropdown-item">Item</a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3 id="cards">Cards</h3>
      <div class="demo">
        <div class="demo-row">
          <% 3.times do %>
            <div class="card demo-column">
              <div class="card-header">
                <h3 class="card-title">Card header</h3>
                <div class="dropdown" data-controller="dropdown">
                  <button type="button" class="button button-icon" data-action="dropdown#open"><i class="material-icons">more_vert</i></button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">Item</a>
                    <a href="#" class="dropdown-item">Item</a>
                    <a href="#" class="dropdown-item">Item</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                Content text
              </div>
              <div class="card-footer">
                <button type="button" class="button button-flat button-primary">Action 1</button>
                <button type="button" class="button button-flat button-primary">Action 2</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <section>
      <h3 id="dialogs">Dialogs</h3>
      <div class="demo">
        <div class="dialog open">
          <div class="dialog-container">
            <div class="dialog-content">
              <div class="dialog-header">
                <h4 class="dialog-title">Dialog Title</h4>
                <button type="button" class="button button-icon"><i class="material-icons">close</i></button>
              </div>
              <div class="dialog-body">
                Dialog Content
              </div>
              <div class="dialog-footer">
                <button type="button" class="button button-flat button-primary">Action 1</button>
                <button type="button" class="button button-flat button-primary">Action 2</button>
              </div>
            </div>
            <div class="dialog-background"></div>
          </div>
        </div>
      </div>
      <h4>Dialog toggle</h4>
      <div class="dialog" data-controller="dialog">
        <button type="button" class="button button-raised button-primary" data-action="dialog#open">Dialog Toggle</button>
        <div class="dialog-container">
          <div class="dialog-content">
            <div class="dialog-header">
              <h4 class="dialog-title">Dialog Title</h4>
              <button type="button" class="button button-icon" data-action="dialog#close"><i class="material-icons">close</i></button>
            </div>
            <div class="dialog-body">
              <% 50.times do %>
                <p>Long content Long content Long content Long content Long content Long content Long conten Long content Long content Long content Long contentt</p>
              <% end %>
            </div>
            <div class="dialog-footer">
              <button type="button" class="button button-flat button-primary">Action 1</button>
              <button type="button" class="button button-flat button-primary">Action 2</button>
            </div>
          </div>
          <div class="dialog-background" data-action="click->dialog#close"></div>
        </div>
      </div>
    </section>
    <section>
      <h3 id="lists">Lists</h3>
      <div class="list">
        <% 3.times do %>
          <div class="list-item">
            <div class="list-item-content">
              Single line text...
            </div>
          </div>
        <% end %>
      </div>

      <div class="list">
        <% 3.times do %>
          <div class="list-item">
            <a class="list-item-avatar">
              <img src="" alt="">
            </a>
            <a class="list-item-content">
              <h4 class="list-item-content-primary">Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text </h4>
              <p class="list-item-content-secondary">Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text </p>
            </a>
            <a class="list-item-icon align-center">
              <i class="material-icons">info</i>
            </a>
          </div>
        <% end %>
      </div>

      <div class="list">
        <% 3.times do %>
          <a href="#lists" class="list-item">
            <div class="list-item-icon">
              <i class="material-icons">info</i>
            </div>
            <div class="list-item-content align-center">
              Item
            </div>
          </a>
        <% end %>
      </div>
    </section>
  </div>
</main>
