<h3 id="lists">Lists</h3>
<div class="list">
  <% 3.times do %>
    <div class="list-item">
      <div class="list-item-content">
        Single line text...
      </div>
    </div>
  <% end %>
</div>

<div class="list">
  <% 3.times do %>
    <div class="list-item">
      <a class="list-item-avatar">
        <img src="" alt="">
      </a>
      <a class="list-item-content text-overflow">
        <h4 class="list-item-content-primary">Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text </h4>
        <p class="list-item-content-secondary">Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text </p>
      </a>
      <a class="list-item-icon align-center">
        <i class="material-icons">info</i>
      </a>
    </div>
  <% end %>
</div>

<div class="list">
  <% 3.times do %>
    <a href="#lists" class="list-item">
      <div class="list-item-icon">
        <i class="material-icons">info</i>
      </div>
      <div class="list-item-content align-center">
        Item
      </div>
    </a>
  <% end %>
</div>
