<div class="slider" data-controller="slider" data-slider-value="1" data-slider-range="3">
  <button type="button" class="slider-link">
    <i class="fa fa-angle-double-up"></i> First
  </button>
  <div class="slider-scrollbar" data-target="slider.scrollbar">
    <div class="slider-handle" data-target="slider.handle">
      <div class="slider-bar">
      </div>
      <div class="slider-info">
        <span data-target="slider.value"></span> / <span data-target="slider.range"></span> post
      </div>
    </div>
  </div>
  <button type="button" class="slider-link">
    <i class="fa fa-angle-double-down"></i> Last
  </button>
</div>
