<div class="list">
  <% @boards.each do |board| %>
    <a class="list-item" href="<%= board_path(board) %>">
      <div class="list-item-content">
        <h3 class="list-item-content-primary"><%= board.name %></h3>
        <div class="list-item-content-secondary"><%= board.description %></div>
      </div>
    </a>
  <% end %>
</div>

<a href="/boards/new" class="button button-floating button-secondary right-bottom"><i class="material-icons">add</i></a>
