<div class="toolbar toolbar-fixed toolbar-primary">
  <div class="toolbar-action">
    <a href="/boards" class="button button-icon"><i class="material-icons">arrow_back</i></a>
  </div>
  <div class="toolbar-title">New Board</div>
</div>

<main class="main">
  <div class="container container-small">
    <%= render 'form' %>
  </div>
</main>
