<div class="card">
  <div class="card-header">
    <div class="toolbar">
      <div class="toolbar-title">
        <%= t '.settings' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
