.appbar {
  .toolbar {
    padding: 4px;
  }

  .tab-item:first-child {
    margin-left: 56px;
  }

  .button-icon {
    padding: 6px;

    .material-icons {
      font-size: 24px;
    }
  }
}

.appbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.appbar-white {
  background: white;
}

.appbar-primary {
  background: var(--primary-color);
  color: white;

  .button-icon,
  .button-text {
    color: white;

    &:hover {
      color: white;
    }
  }

  .tab-item {
    color: white;
  }

  .tab-item.active {
    border-color: white;
  }
}

.appbar-secondary {
  background: var(--secondary-color);
  color: white;

  .button-icon {
    color: white;

    &:hover {
      color: white;
    }
  }

  .tab-item {
    color: white;
  }

  .tab-item.active {
    border-color: white;
  }
}

.main.with-appbar {
  padding-top: 56px;
}

.main.with-appbar-tab {
  padding-top: 104px;
}
