.breadcrumb {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-primary-color);
}

.breadcrumb-item {
  white-space: nowrap;

  a {
    color: var(--text-primary-color);
    text-decoration: none;
  }

  &:not(:last-child)::after {
    content: 'chevron_right';
    vertical-align: top;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}

.appbar-primary,
.appbar-secondary {
  .breadcrumb {
    color: white;
  }

  .breadcrumb-item a {
    color: white;
  }
}
