.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
}

.button-contained,
.button-text,
.button-outlined {
  min-width: 64px;
  font-size: 16px;
  line-height: 18px;
  justify-content: center;

  .material-icons {
    font-size: 18px;
  }
}

.button.disabled {
  pointer-events: none;
}

.button-contained {
  padding: 9px 12px;
  border: 0;
  border-radius: 2px;
  color: var(--text-primary-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: white;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  &.button-primary {
    background-color: var(--primary-color);
    color: white;
  }

  &.button-secondary {
    background-color: var(--secondary-color);
    color: white;
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button-text {
  padding: 9px 12px;
  border: 0;
  border-radius: 2px;
  color: var(--text-primary-color);
  background: transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

  &.button-primary {
    color: var(--primary-color);
  }

  &.button-secondary {
    color: var(--secondary-color);
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button-outlined {
  padding: 8px 11px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  color: var(--text-primary-color);
  background: transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

  &.button-primary {
    color: var(--primary-color);
  }

  &.button-secondary {
    color: var(--secondary-color);
  }

  &[disabled] {
    opacity: 0.3;
  }
}


.button-floating {
  padding: 16px;
  border: 0;
  border-radius: 28px;
  vertical-align: middle;
  color: var(--text-primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: white;

  .material-icons {
    font-size: 24px;
  }

  &.extended {
    padding: 12px 20px 12px 12px;
    border-radius: 24px;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }

  &.button-primary {
    background-color: var(--primary-color);
    color: white;
  }

  &.button-secondary {
    background-color: var(--secondary-color);
    color: white;
  }

  &[disabled] {
    opacity: 0.3;
  }

  &.right-bottom {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
}

.button-icon {
  line-height: 1;
  padding: 6px;
  border: 0;
  border-radius: 50%;
  color: var(--text-secondary-color);
  background: transparent;

  &:hover {
    color: var(--text-primary-color);
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    color: var(--text-primary-color);
    background: rgba(0, 0, 0, 0.1);
  }

  &.button-primary {
    color: var(--primary-color);
  }

  &.button-secondary {
    color: var(--secondary-color);
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button-icon-small {
  width: 24px;
  padding: 0;
}

.button-full-width {
  display: flex;
  width: 100%;
}

.form label.button {
  display: inline-flex;
  margin-bottom: 0;
}

.button-group {
  display: inline-flex;
}

.button-toggle {
  padding: 6px;
  background: white;
  border: none;

  & + .button-toggle {
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

}
