.table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;

  th,
  td {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;

    &.text-align-right {
      text-align: right;
    }
  }

  th {
    color: var(--text-secondary-color);
    font-weight: bold;
  }

  td {
  }

  tr {
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border-bottom: none;
    }
  }

  thead {
    border-bottom: 1px solid var(--border-color);
  }

  .table-action {
    padding: 6px;
  }
}
