.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-action {
  flex: 0 0 48px;

  &:first-child {
    flex: 0 0 56px;
  }

  .button-text {
    min-width: 0;
  }
}

.toolbar-title {
  flex: 1 1 0;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px;
  line-height: 24px;
  flex-grow: 1;
  font-weight: bold;
}
