.display-none {
  display: none !important;
}

@media(max-width: 640px) {
  .display-none-mobile {
    display: none !important;
  }
}

.float-right {
  float: right;
}

.text-monospace {
  font-family: monospace;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-secondary {
  color: var(--text-secondary-color);
}

a.text-secondary {
  color: var(--text-secondary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-small {
  font-size: 14px;
}

.vertical-top {
  vertical-align: top;
}

.line-height-1 {
  line-height: 1;
}

.nowrap {
  white-space: nowrap;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 0 through 4 {
  .p-#{$i} {
    padding: $i * 4px;
  }

  .pt-#{$i} {
    padding-top: $i * 4px;
  }

  .pl-#{$i} {
    padding-left: $i * 4px;
  }

  .pr-#{$i} {
    padding-right: $i * 4px;
  }

  .pb-#{$i} {
    padding-bottom: $i * 4px;
  }

  .m-#{$i} {
    margin: $i * 4px;
  }

  .mt-#{$i} {
    margin-top: $i * 4px;
  }

  .ml-#{$i} {
    margin-left: $i * 4px;
  }

  .mr-#{$i} {
    margin-right: $i * 4px;
  }

  .mb-#{$i} {
    margin-bottom: $i * 4px;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
