.composer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  animation-duration: 0.3s;
  z-index: 1050;
  pointer-events: none;

  &.open {
    display: block;
  }
}

.composer-content {
  background: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.composer-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.composer-title {
  flex-grow: 1;
  margin-bottom: 0;
  font-size: 1rem;
}

.composer-header-actions {
  margin: -0.5rem;

  .btn {
    padding: 0.5rem;
    color: #333;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.composer-body {
  padding: 1rem;
  flex-grow: 1;

  .editor {
    height: 100%;
  }
}

.composer-footer {
  padding: 1rem;
  display: flex;
  border-top: 1px solid #ccc;
}

.composer-compress-button {
  display: none;
}

.composer.open.expand {
  top: 0;
  display: flex;
  align-items: stretch;
  padding: 56px;

  .composer-content {
    border-radius: 0.25rem;
    height: 100%;
    width: 100%;
  }


  .composer-expand-button {
    display: none;
  }

  .composer-compress-button {
    display: inline-block;
  }
}

.composer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
  animation-duration: 0.3s;
  pointer-events: auto;
}
