.editor {
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  overflow: hidden;
  transition: $input-transition;

  &.focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
  }

  .editor-toolbar {
    .btn-group {
    }

    .btn {
      border-radius: 0;

      &:focus {
        box-shadow: none;
      }
    }
  }

  textarea {
    border: none;
    width: 100%;
    padding: $input-padding-y $input-padding-x;

    &:focus {
      outline: 0;
    }
  }

  .editor-edit-area {
    display: flex;
    flex-direction: column;
  }

  .editor-preview-area {
    display: none
  }

  .editor-preview-output {
    padding: $input-padding-y $input-padding-x;
  }

  &.previewing {
    .editor-edit-area {
      display: none;
    }

    .editor-preview-area {
      display: flex;
      flex-direction: column;
    }

    .editor-preview-output {
      min-height: 132px;
    }
  }
}
