.post {
  border-bottom: 1px solid var(--border-color);
  background: white;

  &.editing,
  &.replying {
    padding: 8px;
    margin: -8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-bottom: none;
  }

  &.editing .hide-on-editing {
    display: none;
  }

  &.replying .hide-on-replying {
    display: none;
  }

  .post {
    border-bottom: none;
  }
}

.post-container {
  display: flex;
}

.post-avatar {
  padding: 16px;
  flex: 0 0 72px;
  line-height: 1;

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: block;
  }
}

.post-content {
  padding: 16px 16px 16px 0;
  flex-grow: 1;
}

.post-header {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-right: -10px;
}

.post-info {
  flex: 1;
  color: var(--text-secondary-color);
}

.post-username {
  text-decoration: none;
  color: var(--text-primary-color);

  span {
    color: var(--text-secondary-color);
  }

  &:hover {
    b {
      text-decoration: underline;
    }
  }
}

.post-context {
  margin-left: 60px;
  margin-top: 4px;
  margin-bottom: -8px;
}

.post-body {
}

.post-footer {
  margin: 0 -12px -9px -9px;
  display: flex;

  .button-text {
    color: var(--text-secondary-color);

    &:hover {
      color: var(--text-primary-color);
    }
  }
}
