.post {
  border-bottom: 1px solid var(--border-color);
}

.post-container {
  display: flex;
}

.post-avatar {
  padding: 16px;
  flex: 0 0 72px;
  line-height: 1;

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: block;
  }
}

.post-content {
  padding: 16px 16px 16px 0;
  flex-grow: 1;
}

.post-header {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-right: -10px;
}

.post-info {
  flex: 1;
  color: var(--text-secondary-color);
}

.post-username {
  text-decoration: none;
  color: var(--text-primary-color);

  span {
    color: var(--text-secondary-color);
  }

  &:hover {
    b {
      text-decoration: underline;
    }
  }
}

.post-body {
}

.post-footer {
  margin-left: -12px;
  margin-bottom: -9px;

  .button-text {
    color: var(--text-secondary-color);

    &:hover {
      color: var(--text-primary-color);
    }
  }
}

.post-floating-action {
}
