.slider {
  margin: 16px 0;
}

.slider-scrollbar {
  height: 160px;
  margin: 8px 0 8px 20px;
  border-left: 2px solid #ccc;
  position: relative;
  cursor: pointer;
}

.slider-handle {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: -3px;
  cursor: ns-resize;
}

.slider-handle:not(.dragging) {
  transition: top 0.15s, height 0.15s;
}

.slider-bar {
  width: 4px;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.slider-info {
  margin-left: 16px;
  user-select: none;
}
