.slider {
  margin: 16px;
}

.slider-link {
  background: none;
  border: none;
  padding: 0;

  &:focus {
    outline: 0;
  }
}

.slider-scrollbar {
  height: 160px;
  margin: 8px 0 8px 4px;
  border-left: 2px solid $gray-300;
  position: relative;
  cursor: pointer;
}

.slider-handle {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 4px 0;
  margin-left: -3px;
  background-color: white;
  cursor: move;
}

.slider-bar {
  width: 4px;
  height: 100%;
  background-color: $primary;
  border-radius: 2px;
}

.slider-info {
  margin-left: 8px;
  user-select: none;
}
