.slider {
}

.slider-scrollbar {
  height: 240px;
  margin-left: 27px;
  border-left: 2px solid #ccc;
  position: relative;
  cursor: pointer;
}

.slider-handle {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: -3px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

}

.slider-handle:not(.dragging) {
  transition: top 0.15s, height 0.15s;
}

.slider-bar {
  width: 4px;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.slider-info {
  margin-left: 26px;
  user-select: none;
}
