.topic-title {
  margin: 0 16px;
  padding-top: 16px;
  line-height: 1.5;
}

.comments-count {
  line-height: 24px;
  color: var(--text-secondary-color);

  .material-icons {
    vertical-align: top;
  }
}
