// Bootstrap
$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider: quote(">");

@import "~bootstrap/scss/bootstrap";

// Fontawesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import 'animate';
@import 'media';
@import 'post';
@import 'composer';
@import 'slider';
@import 'editor';
@import 'expandable';
@import 'infinite_page';

img {
  max-width: 100%;
}

.navbar-nav .nav-link {
  padding: 0.5rem 0.5rem;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.avatar {
  width: 48px;
}

.avatar-2x {
  width: 96px;
}

.avatar-4x {
  width: 192px;
}

.letter-avatar {
  background: #ccc;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  &.avatar-2x {
    font-size: 3rem;
  }

  &.avatar-4x {
    font-size: 6rem;
  }
}

.btn {
  cursor: pointer;
}

@include media-breakpoint-up(md) {
  .collapse-md-only:not(.show) {
    display: block;
  }
}

.break {
  position: relative;
  padding: 16px;
  text-align: center;

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    border-bottom: 1px solid $border-color;
    z-index: -1;
  }
}

.break-content {
  display: inline-block;
  padding: 0 8px;
  background: white;
}

.dropdown-item.active .text-muted {
  color: white !important;
}

.notification-unread {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  display: inline-block;
  content: "";
  background: $red;
  position: absolute;
  top: 8px;
  right: 8px;
}

.post-mention-item {
  color: $body-color;
  padding: 8px 12px;
  margin: -4px -12px;
  min-width: 240px;

  &:hover {
    color: $body-color;
    background: $gray-100;
    text-decoration: none;
  }

  .avatar {
    width: 24px;
    height: 24px;
  }
}
