<%= form_with model: post, id: (post.new_record? ? 'new-post-form' : "post-#{post.id}-form") do |form| %>
  <% if post.new_record? %>
    <%= form.hidden_field :topic_id %>
  <% end %>

  <div class="form-group mb-2">
    <%= render partial: 'posts/editor', locals: { form: form, name: :body } %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
