<% content_for :toolbar_title do %>
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin/forums"><%= t 'common.forums' %></a>
    </li>
    <li class="breadcrumb-item active">
      <%= t '.new_form' %>
    </li>
  </ul>
<% end %>

<div class="container container-small">
  <%= render 'form' %>
</div>
