<% content_for :toolbar_title do %>
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin/forums">Forums</a>
    </li>
    <li class="breadcrumb-item active">
      New
    </li>
  </ul>
<% end %>

<div class="container container-small">
  <%= render 'form' %>
</div>
