.post {
  line-height: 1.5;
}

.post-header {
  .dropdown {
    line-height: 1;
  }
}

.post-header-name {
  font-weight: bold;
}

.post-header-time {
  margin-right: 4px;
}

.post-body {
}

.post-footer {
}
