@import 'normalize.css/normalize';
@import 'material-icons';
@import 'base/all';

@import 'sessions';
@import 'topic';
@import 'post';

.notifications-unread {
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F44336;
  }
}

.list-item-timestamp {
  padding: 16px;
  color: var(--text-secondary-color);
  flex: 0 0;
  white-space: nowrap;
}
