<% content_for :body do %>
  <style media="screen">
    :root {
      --primary-color: #607D8B;
    }
  </style>

  <div class="appbar appbar-primary appbar-fixed">
    <div class="toolbar">
      <div class="toolbar-action">
        <button type="button" class="button button-icon" data-toggle="#side-nav"><i class="material-icons">menu</i></button>
      </div>
      <div class="toolbar-title">
        <%= content_for(:toolbar_title) %>
      </div>
      <div class="toolbar-action">
        <div class="dropdown" data-controller="dropdown">
          <button type="button" class="button-avatar" data-action="dropdown#open">
            <%= avatar_tag Current.user %>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="/settings/account" class="dropdown-menu-item">Settings</a>
            <hr class="divider">
            <a href="/session" class="dropdown-menu-item" data-method="delete" data-remote="true">Sign out</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav id="side-nav" class="side-nav side-nav-permanent" data-controller="side-nav">
    <div class="side-nav-content">
      <div class="list">
        <a href="/admin" class="list-item">
          <div class="list-item-icon">
            <i class="material-icons">dashboard</i>
          </div>
          <div class="list-item-content align-center">Dashboard</div>
        </a>
        <a href="/admin" class="list-item">
          <div class="list-item-icon">
            <i class="material-icons">forum</i>
          </div>
          <div class="list-item-content align-center">Forums</div>
        </a>
        <hr class="divider">
        <a href="/" class="list-item">
          <div class="list-item-icon">
            <i class="material-icons">exit_to_app</i>
          </div>
          <div class="list-item-content align-center">Exit to App</div>
        </a>
      </div>
    </div>
    <div class="side-nav-background" data-action="click->side-nav#close">
    </div>
  </nav>

  <main class="main with-appbar">
    <div class="container">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/base' %>
