<% content_for :body do %>
  <div class="toolbar toolbar-fixed toolbar-primary">
    <div class="toolbar-action">
      <button type="button" class="button button-icon" data-toggle="#side-nav"><i class="material-icons">menu</i></button>
    </div>
    <div class="toolbar-title">
      Campo
    </div>
    <% if Current.user %>
      <div class="toolbar-action">
        <a href="#" class="button button-flat"><%= Current.user.name %></a>
      </div>
      <div class="toolbar-action">
        <a href="/session" class="button button-flat" data-method="delete" data-remote="true">Sign out</a>
      </div>
    <% else %>
      <div class="toolbar-action">
        <a href="/session/new" class="button button-flat">Sign in</a>
      </div>
    <% end %>
  </div>

  <nav id="side-nav" class="side-nav side-nav-permanent" data-controller="side-nav">
    <div class="side-nav-content">
      <div class="list">
        <a href="#" class="list-item">
          <div class="list-item-content">Home</div>
        </a>
      </div>
    </div>
    <div class="side-nav-background" data-action="click->side-nav#close">
    </div>
  </nav>

  <main class="main">
    <div class="container">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/base' %>
