<% content_for :body do %>
  <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="<%= asset_pack_path 'media/images/logo.png' %>" width="30" height="30" class="d-inline-block align-top" alt="">
        Campo
      </a>

      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
      </form>
    </div>
  </nav>

  <main class="main with-appbar">
    <div class="container">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/base' %>
