<% content_for :body do %>
  <main class="main with-appbar">
    <div class="appbar appbar-white appbar-fixed">
      <div class="container">
        <div class="toolbar">
          <div class="toolbar-title">
            <a href="/" class="normal">
              <img src="<%= asset_pack_path 'media/images/logo.png' %>" class="logo">
              <span>Campo</span>
            </a>
          </div>
          <% if Current.user %>
          <% else %>
            <div class="toolbar-action">
              <a href="" class="button button-text">
                Sign in
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/base' %>
