<% content_for :body do %>
  <div class="toolbar toolbar-fixed toolbar-primary">
    <div class="toolbar-action">
      <a href="/" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title">
      Sign in
    </div>
  </div>

  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/base' %>
