<% content_for :body do %>
  <div class="max-w-md mx-auto p-4">
    <div class="flex justify-center p-4">
      <a href="<%= root_path %>">
        <img src="<%= site_logo_path(Current.site) %>" class="object-fill h-[60px]">
      </a>
    </div>

    <%= yield %>

  </div>
<% end %>

<%= render template: 'layouts/base' %>
